banter-lang.org {
    tls baier.tech@outlook.com
    encode gzip

    root * /usr/share/caddy
    file_server
    try_files {path} /index.html

    log {
       output file /var/log/caddy/access.log
    }
}

api.banter-lang.org {
    tls baier.tech@outlook.com
    reverse_proxy http://banter-service:8000

    header {
        header_down Access-Control-Allow-Origin *
        header_down Access-Control-Allow-Methods *
        header_down Access-Control-Allow-Headers *
    }

    log {
       output file /var/log/caddy/access-api.log
    }
}

