banter-lang.org {
    tls baier.tech@outlook.com
    encode gzip

    root * /usr/share/caddy
    file_server
    try_files {path} /index.html
}

api.banter-lang.org {
    reverse_proxy localhost:8000
}

