:host {
  display: flex-box;
  width: 100%;
  height: 700px;  /* Adjust height as needed */
}

#editor {
  width: 100%;
  height: 100%;
  font-family: "Courier New", "Consolas", "Menlo", "Monaco", monospace !important;
}

.ace-container {
  all: unset;
}
