<main>
    <nav class="p-4 shadow-3xl">
      <div class="flex items-center justify-between">

      <a [routerLink]="['/']">
        <div class="flex items-center justify-between">
          <img src="assets/images/logo.svg" alt="logo" class="brand-logo">
          <span class="text-white text-3xl font-semibold">banter-lang.org</span>
        </div>
      </a>

        <div class="md:flex space-x-6">
          <a [routerLink]="['/']" class="text-white text-2xl hover:text-gray-300 transition-colors duration-200">home</a>
          <a [routerLink]="['learn']" class="text-white text-2xl hover:text-gray-300 transition-colors duration-200">learn</a>
          <a [routerLink]="['playground']" class="text-white text-2xl hover:text-gray-300 transition-colors duration-200">playground</a>
          <a [routerLink]="['about']" class="text-white text-2xl hover:text-gray-300 transition-colors duration-200">about</a>
        </div>
      </div>

    </nav>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<router-outlet />
