:host {
  --content-padding: 0px;
}

header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 15px var(--shadow-color);
}

img.brand-logo {
  width: 70px;
  height: auto;  /* Keeps the aspect ratio intact */
  padding-left: 2px;
  padding-right: 10px;
}

.content {
  /*padding: var(--content-padding);*/
  background-color: black;
}
