<main>
    <nav class="bg-stone-800 p-4 shadow-3xl">
      <div class="flex items-center justify-between">

        <div class="flex items-center justify-between">
          <img src="assets/images/logo.svg" alt="logo" class="brand-logo">
          <span class="text-white text-3xl font-semibold">Banter-Lang</span>
        </div>

        <div class="hidden md:flex space-x-4">
          <a href="#" class="text-white text-xl hover:text-gray-300 transition-colors duration-200">Home</a>
          <a href="#" class="text-white text-xl hover:text-gray-300 transition-colors duration-200">Learn</a>
          <a href="#" class="text-white text-xl hover:text-gray-300 transition-colors duration-200">Playground</a>
          <a href="#" class="text-white text-xl hover:text-gray-300 transition-colors duration-200">About</a>
        </div>
      </div>

    </nav>
  <section class="content">
    <app-home></app-home>
  </section>
</main>

<router-outlet />
