<section class="bg-black flex flex-col overflow-hidden items-center">
  <h1 class="text-white text-6xl font-semibold">Just a bit of banter...</h1>
  <div class="grid gap-8 p-8 text-lg w-full max-w-7xl">
    <div class="flex flex-col space-y-7">
      <div class="bg-[#808080] italic p-8 rounded-lg text-white shadow-lg">
        <h2 class="text-3xl font-semibold">Fundamental Syntax</h2>
        <p class="text-xl">If you're already familiar with programming, you might find Banter mildly infuriating. There are no loops, no functions, and only primitive data types. The whole language can be broken down into five basic rules. While this may be limiting for building enterprise software, it is actually quite liberating for the mind of a student.</p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-8 p-8 w-full max-w-7xl text-xl">
    <!-- Column 1 -->
    <div class="flex flex-col space-y-7">
      <div class="bg-[#808080] italic p-6 text-white rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold">The Let Statement</h2>
        <p>allows you to assign the output of an expression to a particular mnemonic representation.</p>
        <div class="codeblock">
          <pre><code><span class="keyword">let</span> x <span class="keyword">be</span> <span class="int">5</span></code></pre>
        </div>
      </div>

      <div class="bg-[#808080] italic p-6 rounded-lg text-white shadow-lg">
        <h2 class="text-xl font-semibold">The If Statement</h2>
        <p>allows you to conditionally execute a line of code. The body of the statement will only execute if the expression evaluates to True</p>
        <div class="codeblock">
          <pre><code><span class="keyword">if</span> x &lt; <span class="int">10</span>, <span class="keyword">then</span>
  <span class="keyword">let</span> y <span class="keyword">be</span> <span class="int">10</span></code></pre>
        </div>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="flex flex-col space-y-6">
      <div class="bg-[#808080] italic p-6 rounded-lg text-white shadow-lg">
        <h2 class="text-xl font-semibold">The If-Else Statement</h2>
        <p>simply provides alternative execution case for when the condition evaluates to False.</p>
        <div class="codeblock">
          <pre><code><span class="keyword">if</span> x * y == (<span class="int">100</span>/<span class="int">2</span>) - <span class="int">1</span>, <span class="keyword">then</span>
  <span class="keyword">let</span> x <span class="keyword">be</span> <span class="bool">False</span>
<span class="keyword">else</span>
  <span class="keyword">let</span> x <span class="keyword">be</span> <span class="bool">True</span></code></pre>
        </div>
      </div>

      <div class="bg-[#808080] italic p-6 rounded-lg text-white shadow-lg">
        <h2 class="text-xl font-semibold">Additional Syntax</h2>
        <div class="codeblock">
          <pre><code><span style="color: #808080"># This is a comment line</span>

<span class="string">"Strings must be double quotes."</span>

<span class="keyword">print</span> <span class="string">"this will print to the screen"</span></code></pre>
        </div>
      </div>
    </div>

    <!-- Column 3 -->
    <div class="flex flex-col col-span-2 space-y-6">
      <div class="bg-[#808080] italic p-6 rounded-lg text-white shadow-lg">
        <h2 class="text-xl font-semibold">The Return Statement</h2>
        <p>is used to simply return the value of a statement or expression and terminate the evaluation. These statements cannot be null, you must return something.</p>
        <div class="codeblock">
          <pre><code><span class="keyword">let</span> wrong <span class="keyword">be</span> <span class="int">3</span>
<span class="keyword">let</span> right <span class="keyword">be</span> <span class="int">7</span>

<span class="keyword">if</span> wrong + wrong == right, <span class="keyword">then</span>
  <span class="keyword">return</span> <span class="bool">True</span>
<span class="keyword">else</span>
  <span class="keyword">return</span> <span class="bool">False</span>

<span class="keyword">return</span> <span class="string">"this will never execute"</span></code></pre>
        </div>
      </div>

      <div class="bg-[#808080] italic p-6 rounded-lg text-white shadow-lg">
        <h2 class="text-xl font-semibold">The Goto and Marker Statements</h2>
        <p>allow for repetition of instructions by returning back to demarcated lines of code.</p>
        <div class="codeblock">
          <pre><code><span class="keyword">let</span> x <span class="keyword">be</span> <span class="int">0</span>
<span class="keyword">let</span> n <span class="keyword">be</span> <span class="int">100</span>

<span class="keyword">let</span> a <span class="keyword">be</span> <span class="int">0</span>
<span class="keyword">let</span> b <span class="keyword">be</span> <span class="int">1</span>

<span class="keyword">&#64;<span class="int">1</span></span> <span style="color: #808080"># Print Fibonacci Numbers</span>
<span class="keyword">if</span> x &lt; n, <span class="keyword">then</span>
  <span class="keyword">print</span> a

  <span class="keyword">let</span> temp <span class="keyword">be</span> a + b
  <span class="keyword">let</span> a <span class="keyword">be</span> b
  <span class="keyword">let</span> b <span class="keyword">be</span> temp


  <span class="keyword">let</span> x <span class="keyword">be</span> x + <span class="int">1</span>

  <span class="keyword">goto instruction</span> <span class="int">1</span>

<span class="keyword">return</span> <span class="string">"This is a valid result"</span></code></pre>
        </div>
      </div>
    </div>
  </div>
</section>

