.codeblock{
  background-color: #2d2d2d;
  border-radius: 8px;
  font-style: normal;
  padding-left: 2vh;
  margin-top: 2%;
  font-family: "Courier New", Courier, monospace;
  color: #cccccc;
  overflow-x: auto;
}

.highlight {
  color: red;
}

.keyword {
  color: #9a81cd
}

.var {
  color: #7a9599;
}

.string {
  color: #6aaf87;
}

.bool {
  color: #fa6054;
}

.int {
  color: #fd903d;
}
